[submodule "qq-web"]
	path = qq-web
	url = https://github.com/stikkas/qq-web.git
[submodule "storage-web"]
	path = storage-web
	url = https://github.com/stikkas/storage-web.git
[submodule "storage-ejb"]
	path = storage-ejb
	url = https://github.com/stikkas/storage-ejb.git
